<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Paciente</title>
</head>

<body>

<h1>Cadastro de Paciente</h1>

<form action="/salvar_paciente" method="POST">

<label>Nome da Criança</label><br>
<input type="text" name="nome"><br><br>

<label>Idade</label><br>
<input type="number" name="idade"><br><br>

<label>Responsável</label><br>
<input type="text" name="responsavel"><br><br>

<label>Telefone</label><br>
<input type="text" name="telefone"><br><br>

<label>Observações</label><br>
<textarea name="observacoes"></textarea><br><br>

<button type="submit">Cadastrar</button>

</form>

</body>
</html>